.card {
    margin-top: 90px;
    width: 327px;
    height: 360px;
    border-radius: 15px;
    background-color:#232A34; 
}

@media (width>769px) {
    .card {
        width: 412px;
        height: 416px;
        border-radius: 30px;
    }
}