.tyimg {
    margin-top: 24px;
    margin-left: 88px;
}
.selected {
    margin-top: 24px;
    margin-left: 70px;
    display: grid;
    place-items: center;
    width: 193px;
    height: 32px;
    border-radius: 22.5px;
    background: var(--Dark-Blue, #262E38);
}
.selectedP {
    color: var(--Orange, #FC7614);
    text-align: center;
    font-family: Overpass;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.thankyou {
    margin-top: 24px;
    margin-left: 104px;
    width: 279px;
    color: var(--Pure-White, #FFF);
    font-family: Overpass;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tyDown {
    margin-top: 10px;
    margin-left: 29px;
    width: 279px;
    color: var(--Light-Grey, #969FAD);
    text-align: center;
    font-family: Overpass;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

@media (width>769px) {
    .tyimg {
        width: 162px;
        height: 108px;
        margin-top: 50px;
        margin-left: 120px;
    }
    .selected {
        width: 193px;
        height: 32px;
        margin-left: 113px;
        margin-top: 20px;
    }
    .thankyou {
        font-size: 28px;
        margin-left: 135px;
    }
    .tyDown {
        width: 340px;
        font-size: 15px;
        margin-left: 43px;
        margin-bottom: 45px;
    }
}