.tyimg {
    background-image: url(backPick.svg);
    background-repeat: no-repeat;
    background-position: 88px 34px;
    width: 100%;
    height: 130px;
}
.selected {
    margin-top: 24px;
    margin-left: 70px;
    display: grid;
    place-items: center;
    width: 193px;
    height: 32px;
    border-radius: 22.5px;
    background: var(--Dark-Blue, #262E38);
}
.selectedP {
    color: var(--Orange, #FC7614);
    text-align: center;
    font-family: Overpass;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.thankyou {
    margin-top: 24px;
    margin-left: 105px;
    width: 279px;
    color: var(--Pure-White, #FFF);
    font-family: Overpass;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tyDown {
    margin-top: 10px;
    margin-left: 24px;
    width: 279px;
    color: var(--Light-Grey, #969FAD);
    text-align: center;
    font-family: Overpass;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

@media (width>769px) {
    .tyimg {
        background-image: url(secondThankPick.svg);
        background-position: 120px;
        width: 100%;
        height: 200px;
    }
    .selected {
        width: 193px;
        height: 32px;
        margin-left: 113px;
        margin-top: -20px;
    }
    .thankyou {
        font-size: 28px;
        margin-left: 135px;
    }
    .tyDown {
        width: 340px;
        font-size: 15px;
        margin-left: 40px;
        margin-bottom: 45px;
    }
}